<!DOCTYPE html>
<html>
<head>
<title>reg vote</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<script type="text/javascript">
  var startdate = '';
  var starttime = '';
  var ddaydate = '';
  var itemNum = 3;
  

 
  // 뒤로가기 버튼 -> 메인화면 이동
  function goMain(){
      location.href = '../happyday/hdmain';
  }
  
// 화면 reload 될 때마다 실행 되는 함수
$(document).ready(function() {

    //카테고리 드롭다운
  $('#listDropdown').dropdown({
   });  
  
    //카테고리 드롭다운
  $('#selectionDropdown').dropdown({
   });
   
    // 마감 날짜(등록)
  $("[name=deadlineDay]").calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var fullDate = year + month + day;               //DB에 들어갈 마감날짜 년월일, Ex)20170303
        var fullDateShow = year+'/' + month+'/' + day;   //화면에 보여줄 마감날짜,      Ex)2017/03/03
        startdate = fullDate;                            //startdate: global 변수 -> submit할때 DB로 전송  
        return fullDateShow;                             //화면에 보여줄 마감날짜,      Ex)2017/03/03
      }
    }
  });
   // 마감 시각(등록,수정)
   $("[name=deadlineTime]").calendar({
    type: 'time',
    formatter: {
      time: function (date, settings, forCalendar) {
        if (!date) return '';
        var hour = date.getHours().toString();
        hour = hour.length > 1 ? hour : '0' + hour;
        var minute = date.getMinutes().toString();             
        minute = minute.length > 1 ? minute : '0' + minute;
        var time = hour + minute;                           //DB에 들어갈 마감시간 , Ex)1630                 
        starttime = time;                                   //starttime: global 변수 -> submit할 때 DB로 전송
        return hour+'시 ' +  minute+'분';                   //화면에 보여줄 마감시간, EX)16시 30분
      }
    }
    });
  });
  
  //항목추가
  function addItemList(){
    itemNum = itemNum+1;
    var $inputTag = $("<input type='text' placeholder='항목을 입력하세요.' id='vote_item"+itemNum+"' name='vote_item"+itemNum+"' maxlength='20'>");
    $("#item_list").append($inputTag);
  }


</script>
<style type="text/css">
 
 
	
</style>
</head>
<body>

<!-- Navigation -->
<% include ../partials/navigation.ejs %>

<div class="ui container">
  <form id="voteregForm" class="ui segment form" action="/vote_regist" method="post">
  <!--<form id="voteregForm" class="ui segment form">-->
    	<h3 class="ui left floated header" style="color:blue"><%=data.user_name %>님 투표를 등록 해 주세요</h3>    
    	<div class="ui clearing divider">
	    </div>
	   	<div class="content">
	   	  
				<div class="field">
  				<div class="ui sub header">
  					 *불러오기
  				</div>
  				<div id="listDropdown" class="ui selection dropdown"  style=" width: 100%;">
  					
  					<i class="dropdown icon"></i>
  					<div class="default text">
  						 최근투표목록
  					</div>
  					<div class="menu">
  						<div class="item" data-value="팀">
  							 1. 커피주문
  						</div>
  						<div class="item" data-value="SM">
  							 2. 밥 주문
  						</div>
  					</div>
  				</div>
  				<!--<p class="p validation" id="category_code_alert" style="color:red; visibility:hidden;">-->
  				<!--	 *불러오기불러오기-->
  				<!--</p>-->
			  </div>
	   	  
	   	  
		    <div class="field">
    			<div class="ui sub header">
    				 *투표제목
    			</div>
    			<input type="text" placeholder="투표 제목을 입력해주세요." id="vote_name" name="vote_name" maxlength="20">
    			<p class="p validation" id="vote_name_alert" style="color:red; visibility:hidden;">
    				 *투표 제목을 입력해 주세요!
    			</p>
		    </div>
		    
		    <div class="field">
				  <div class="ui sub header">
					   **상세내용
				  </div>
				  <textarea id="vote_contents" placeholder="투표 상세 내용을 입력 해 주세요" style="width:100% ;height: 200px; resize:none" name="vote_contents" maxlength="500"></textarea>
				  <p class="p validation" id="vote_contents_alert" style="color:red; visibility:hidden;">
					 *상세 내용을 작성해 주세요
				  </p>
				</div>

				<div class="field">
    			<div class="ui sub header">
    				 *항목입력
    			</div>
    			<input type="text" placeholder="항목을 입력하세요." id="vote_item1" name="vote_item1" maxlength="20">
    			<!--<p class="p validation" id="vote_name_alert" style="color:red; visibility:hidden;">-->
    			<!--	 *투표 제목을 입력해 주세요!-->
    			<!--</p>-->
    			<input type="text" placeholder="항목을 입력하세요." id="vote_item2" name="vote_item2" maxlength="20">
    			<input type="text" placeholder="항목을 입력하세요." id="vote_item3" name="vote_item3" maxlength="20">
    			<div id="item_list"> </div>

    		  <button type="button" class="small circular ui icon button" id="add_item" name="add_item" style="background:#0064FF; color:white" onclick=javascript:addItemList() >
    		    <i class="icon plus"></i>
    		  </button>항목추가
        </div>
				
				<div class="field">
  				<div class="ui sub header">
  					 **참여범위
  				</div>
  				<div id="selectionDropdown" class="ui selection dropdown"  style=" width: 100%;">
  					<input id="category_code" name="category_code" type="hidden" value="">
  					<!--<input id="category_code" name="category_code" type="hidden">-->
  					
  					<i class="dropdown icon"></i>
  					<div class="default text">
  						 참여 범위 선택
  					</div>
  					<div class="menu">
  						<div class="item" data-value="팀">
  							 팀
  						</div>
  						<div class="item" data-value="SM">
  							 SM
  						</div>
  					</div>
  				</div>
  				<p class="p validation" id="category_code_alert" style="color:red; visibility:hidden;">
  					 *참여 범위를 선택해 주세요
  				</p>
			  </div>
			

  			<div class="column">
  				<div class="ui sub header">
  					 **마감날짜
  				</div>
  				<div class="ui calendar" name="deadlineDay">
  					<div class="ui input left icon" style=" width: 100%;">
  						<i class="calendar icon"></i>
  						<input type="text" placeholder="마감날짜 선택" style=" width: 100%;" name="vote_deadline_dt" readonly="true">
  					</div>
  				</div>
  				<!-- calendar -->
  				<p class="p validation" id="deadlineDay_alert" style="color:red; visibility:hidden;">
  					 *마감날짜를 선택해 주세요
  				</p>
  			</div>
  			<div class="column">
  				<div class="ui sub header">
  					 **마감시각
  				</div>
  				<div class="ui calendar" name="deadlineTime">
  					<div class="ui input left icon" style=" width: 100%;">
  						<i class="time icon"></i>
  						<input type="text" placeholder="마감시간 선택" style=" width: 100%;" id="vote_deadline_time" name="happyday_time" readonly="true">
  					</div>
  				</div>
  				<p class="p validation" id="deadlineTime_alert" style="color:red; visibility:hidden;">
  					 *마감시간를 선택해 주세요
  				</p>
  			</div>



    			<div class="field">
    				<div class="ui sub header">
    					 **옵션선택
    				</div>
    				<div class="ui two column grid">
    				  <div class="column">
            		<div class="ui toggle checkbox">
                  <input type="checkbox" name="public">
                  <label>복수 선택</label>
                </div>
              </div>
              <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="public">
                  <label>익명 투표</label>
                </div>
              </div>
            </div>
    				<div class="ui two column grid">
              <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="public">
                  <label>항목 추가</label>
                </div>
              </div>
              <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="public">
                  <label>E-Mail전송</label>
                </div>
              </div>
            </div>
				</div>
				
				<div class="actions">
				  <div class="ui button" style="color:white; background:dimgrey" onclick=javascript:goMain()>
					 취소
				  </div>
				  <button class="ui submit button" id="submit" name="submit" style="background:#A5673F; color:white">등록</button>
			  </div>
				

		  </div> <!-- content -->
    </form>
</div> <!-- ui container -->
  
	</body>
	</html>