<div>
    <p>
        <h3>안녕하세요~ 지금 신규 투표가 등록되었습니다.</h3>
        <h3>2BHAPPY로 가셔서 투표에 참가하세요~</h3>
        <h3>감사합니다:D</h3>
    </p>
    <div>
        <ul >
            <li value="*">등록자 : {{user_name}}</li>
            <li value="*">마감일 : {{vote_deadline}}</li>
            <li value="*">내  용 : {{vote_contents}}</li>
            <li value="*">참석범위 : {{parti_org_id}}</li>
        </ul>
    </div>
</div>